Milestone_5/ecowatt-nodered/flows.json
[
    {
        "id": "6020ea8d49b51808",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f557946168782514",
        "type": "http in",
        "z": "6020ea8d49b51808",
        "name": "",
        "url": "/api/v1/upload",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 520,
        "wires": [
            [
                "027a10f451887250",
                "375a747e5ea3b5b7",
                "02d5167ba2f1685a"
            ]
        ]
    },
    {
        "id": "02d5167ba2f1685a",
        "type": "function",
        "z": "6020ea8d49b51808",
        "name": "function 3",
        "func": "let voltages = msg.payload.voltage || [];\nlet currents = msg.payload.current || [];\n\nfunction mean(arr) {\n    return arr.reduce((a, b) => a + b, 0)*10 / (arr.length || 1);\n}\nfunction max(arr) {\n    return arr.length > 0 ? Math.max(...arr)*10 : null;\n}\nfunction min(arr) {\n    return arr.length > 0 ? Math.min(...arr)*10 : null;\n}\n\n// --- stats for dashboard ---\nmsg.payload = {\n    voltage: { max: max(voltages), min: min(voltages), mean: mean(voltages) },\n    current: { max: max(currents), min: min(currents), mean: mean(currents) }\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 700,
        "wires": [
            [
                "4812131e18e0d539",
                "5d82228cb99d77ed",
                "a0c413fb8a83d8de",
                "07856203ba79315f",
                "ddfc543d8d50da41",
                "691ef451d913d20b",
                "98b80de2e35eed5a"
            ]
        ]
    },
    {
        "id": "027a10f451887250",
        "type": "debug",
        "z": "6020ea8d49b51808",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 420,
        "wires": []
    },
    {
        "id": "f969ed52d346e60e",
        "type": "http in",
        "z": "6020ea8d49b51808",
        "name": "",
        "url": "/api/v1/history/:device_id",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 920,
        "wires": [
            [
                "875cedfa6d5853b4"
            ]
        ]
    },
    {
        "id": "875cedfa6d5853b4",
        "type": "function",
        "z": "6020ea8d49b51808",
        "name": "function 1",
        "func": "// Extract device_id from URL\nlet deviceId = msg.req.params.device_id;\n\n// Retrieve stored history\nlet history = flow.get(\"history\") || [];\n\n// Filter records for this device\nlet filtered = history.filter(h => h.device_id === deviceId);\n\n// Always return consistent JSON\nmsg.payload = {\n    device_id: deviceId,\n    total_uploads: filtered.length,\n    metrics: {\n        total_samples: filtered.reduce((sum, h) => sum + (h.samples_count || 0), 0),\n        avg_compression_ratio: filtered.length > 0 \n            ? (filtered.reduce((sum, h) => sum + (h.compression_ratio || 0), 0) / filtered.length)\n            : null\n    },\n    uploads: filtered\n};\n\nmsg.statusCode = 200;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 920,
        "wires": [
            [
                "96c4eeec3d7d4cb3"
            ]
        ]
    },
    {
        "id": "96c4eeec3d7d4cb3",
        "type": "http response",
        "z": "6020ea8d49b51808",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 570,
        "y": 920,
        "wires": []
    },
    {
        "id": "3e01c3c681aa1f6a",
        "type": "ui_gauge",
        "z": "6020ea8d49b51808",
        "name": "",
        "group": "1bb0f9a52225c2ae",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "250",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1070,
        "y": 600,
        "wires": []
    },
    {
        "id": "e29a28585e9b36c9",
        "type": "ui_gauge",
        "z": "6020ea8d49b51808",
        "name": "",
        "group": "3f4020bd0d6932c7",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "250",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1070,
        "y": 640,
        "wires": []
    },
    {
        "id": "ec88a6d496a7e5f1",
        "type": "ui_gauge",
        "z": "6020ea8d49b51808",
        "name": "",
        "group": "6006c4ec47b4ce74",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1070,
        "y": 700,
        "wires": []
    },
    {
        "id": "020de9314c47edc1",
        "type": "ui_gauge",
        "z": "6020ea8d49b51808",
        "name": "",
        "group": "a43394b436c8eed5",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1070,
        "y": 740,
        "wires": []
    },
    {
        "id": "d382a2c4b1bbdabd",
        "type": "ui_chart",
        "z": "6020ea8d49b51808",
        "name": "",
        "group": "cbb48b31e004fb1c",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1070,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "98023a47d1851bcc",
        "type": "ui_chart",
        "z": "6020ea8d49b51808",
        "name": "",
        "group": "013f74de9b0111fa",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1070,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "4812131e18e0d539",
        "type": "change",
        "z": "6020ea8d49b51808",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.voltage.max",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 600,
        "wires": [
            [
                "3e01c3c681aa1f6a",
                "b4ee7a5f10751135"
            ]
        ]
    },
    {
        "id": "5d82228cb99d77ed",
        "type": "change",
        "z": "6020ea8d49b51808",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.voltage.min",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 640,
        "wires": [
            [
                "e29a28585e9b36c9"
            ]
        ]
    },
    {
        "id": "a0c413fb8a83d8de",
        "type": "change",
        "z": "6020ea8d49b51808",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.current.max",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 700,
        "wires": [
            [
                "ec88a6d496a7e5f1"
            ]
        ]
    },
    {
        "id": "07856203ba79315f",
        "type": "change",
        "z": "6020ea8d49b51808",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.current.min",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 740,
        "wires": [
            [
                "020de9314c47edc1"
            ]
        ]
    },
    {
        "id": "ddfc543d8d50da41",
        "type": "change",
        "z": "6020ea8d49b51808",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.voltage.mean",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 800,
        "wires": [
            [
                "d382a2c4b1bbdabd"
            ]
        ]
    },
    {
        "id": "691ef451d913d20b",
        "type": "change",
        "z": "6020ea8d49b51808",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.current.mean",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 840,
        "wires": [
            [
                "98023a47d1851bcc"
            ]
        ]
    },
    {
        "id": "375a747e5ea3b5b7",
        "type": "function",
        "z": "6020ea8d49b51808",
        "name": "function 2",
        "func": "node.log(\"Received data: \" + JSON.stringify(msg.payload));\n\n// --- response for Flask ---\nlet httpReply = {\n    payload: { status: \"OK\", received: true }\n};\n\n\nreturn httpReply;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 520,
        "wires": [
            [
                "f9295683e2c8786c",
                "5839f661796d5431"
            ]
        ]
    },
    {
        "id": "f9295683e2c8786c",
        "type": "http response",
        "z": "6020ea8d49b51808",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 750,
        "y": 460,
        "wires": []
    },
    {
        "id": "b4ee7a5f10751135",
        "type": "debug",
        "z": "6020ea8d49b51808",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 520,
        "wires": []
    },
    {
        "id": "98b80de2e35eed5a",
        "type": "debug",
        "z": "6020ea8d49b51808",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 520,
        "wires": []
    },
    {
        "id": "5839f661796d5431",
        "type": "debug",
        "z": "6020ea8d49b51808",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 380,
        "wires": []
    },
    {
        "id": "1bb0f9a52225c2ae",
        "type": "ui_group",
        "name": "Max Voltage",
        "tab": "05203b57cf5d70f4",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "3f4020bd0d6932c7",
        "type": "ui_group",
        "name": "Min Voltage",
        "tab": "05203b57cf5d70f4",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "6006c4ec47b4ce74",
        "type": "ui_group",
        "name": "Max Current",
        "tab": "327206049d8a8762",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "a43394b436c8eed5",
        "type": "ui_group",
        "name": "Min Current",
        "tab": "327206049d8a8762",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "cbb48b31e004fb1c",
        "type": "ui_group",
        "name": "Mean Voltage",
        "tab": "05203b57cf5d70f4",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "013f74de9b0111fa",
        "type": "ui_group",
        "name": "Mean Current",
        "tab": "327206049d8a8762",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "05203b57cf5d70f4",
        "type": "ui_tab",
        "name": "Voltages",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "327206049d8a8762",
        "type": "ui_tab",
        "name": "Currents",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "173854da298dcefb",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]